<template>
  <div id="app">
    <h1 class="title">Выбор места</h1>
    <div class="container">
      <div class="seats">
        <div v-for="seat in seats" class="seats--seat" :class="{'occupied': seat.occupied, 'selected': seat.selected}" @click="selectSeat(seat)"></div>
      </div>

      <div v-if="selectedSeats.length">
        <h3>Вы выбрали места:</h3>
        <div class="selected-list">
          <div v-for="seat in selectedSeats">ряд {{seat.row}} место {{seat.column}}</div>
        </div>
        <div class="total">Общая сумма: <strong>{{total}} {{currency}}</strong></div>
        <button class="button submit" type="button" @click="placeOrder">Купить</button>
        <button class="button cancel" type="button" @click="cancelOrder">Отменить выбор</button>
      </div>
    </div>

    <div class="purchase-popup--wrapper" v-if="finish" @click="finish = false">
        <div class="purchase-popup">Спасибо за заказ!</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      seatsAmount: 100,
      seats: [],
      occupied: 10,
      ticketPrice: 100,
      currency: 'руб.',
      finish: false
    }
  },
  computed: {
    occupiedSeats() {
      const seats = [];
      while(seats.length < this.occupied){
        let randomSeat = Math.floor(Math.random() * this.seatsAmount) + 1;
        if (seats.indexOf(randomSeat) > -1) continue;
        seats[seats.length] = randomSeat;
      }
      return seats;
    },
    selectedSeats() {
      return this.seats.filter(seat => seat.selected);
    },
    total() {
      return this.ticketPrice * this.selectedSeats.length;
    }
  },
  methods: {
    generateSeatsData() {
      const seats = [];
      for (let i = 1; i <= this.seatsAmount; i++) {
        seats.push({
          row: this.getRow(i),
          column: this.getColumn(i),
          index: i,
          occupied: this.occupiedSeats.includes(i),
          selected: false
        })
      }
      return seats;
    },
    getRow(index) {
      return Math.ceil(index / 10);
    },
    getColumn(index) {
      return index % 10 || 10;
    },
    selectSeat(seat) {
      if (seat.occupied) {
        return;
      }
      seat.selected = !seat.selected;
    },
    placeOrder() {
      this.selectedSeats.map(seat => {
        seat.selected = false;
        seat.occupied = true;
        return seat;
      })
      this.finish = true;
    },
    cancelOrder() {
      this.selectedSeats.map(seat => {
        seat.selected = false;
        return seat;
      });
    }
  },
  mounted() {
    this.seats = this.generateSeatsData();
  }
}
</script>

<style lang="scss">
  #app {
    font-family: Helvetica, Arial, serif;
    color: #000;
  }
  .title {
    text-align: center;
  }
  .container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .seats {
    width: 600px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
  }
  .seats--seat {
    width: 40px;
    height: 40px;
    background-color: #40e569;
    margin: 10px;
    cursor: pointer;
    &.occupied {
      background-color: #cc0116;
      cursor: default;
    }
    &.selected {
      background-color: #f3eb32;
    }
  }
  .selected-list {
    max-height: 440px;
    margin-bottom: 15px;
    overflow: auto;
  }
  .total {
    margin-bottom: 20px;
  }
  .button {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 1em;
    &.submit {
      border: none;
      color: #fff;
      background-color: #006ef1;
    }
    &.cancel {
      border-color: #000;
    }
  }
  .purchase-popup--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rGBA(0,0,0,0.75);
  }
  .purchase-popup {
    padding: 30px;
    font-size: 2em;
    border-radius: 10px;
    background-color: #fff;
  }
</style>
